06 - Data Annotation Workflow.json
{
  "name": "06 - Data Annotation Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "annotate-csv",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "8b390e4a-9cc4-4c29-9c2b-973f64a737f7",
      "name": "Upload Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -16,
        352
      ],
      "webhookId": "9c97cb3e-97d8-468f-9765-a1ec4d7a0eca"
    },
    {
      "parameters": {
        "jsCode": "const { csv_data, job_id, label_schema } = $input.first().json.body;\nif (!csv_data) throw new Error('csv_data field is required (base64 encoded CSV)');\nconst decoded = Buffer.from(csv_data, 'base64').toString('utf-8');\nconst lines = decoded.split('\\n').filter(l => l.trim());\nconst header = lines[0];\nconst rows = lines.slice(1).map((line, i) => ({ row_id: `row_${i+1}`, text: line.split(',').slice(1).join(',').trim().replace(/^\"|\"$/g,''), job_id, label_schema }));\nreturn rows.map(r => ({ json: r }));\n"
      },
      "id": "8c6decfd-0fc3-4e01-917c-0b00cb3c186f",
      "name": "Parse CSV",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        352
      ]
    },
    {
      "parameters": {
        "batchSize": 20,
        "options": {}
      },
      "id": "92929c99-e7ab-48ca-9261-53446b7a90b2",
      "name": "Batch 20 Rows",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        432,
        352
      ]
    },
    {
      "parameters": {
        "modelId": {
          "value": "gpt-4o-mini",
          "__rl": true,
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a precise data annotation system. Classify each item using ONLY the provided label schema.\n\nLabel schema: {{ $('Batch 20 Rows').item.json.label_schema || 'positive, negative, neutral' }}\n\nReturn ONLY a JSON array, no other text:\n[{\"row_id\": \"...\", \"label\": \"...\", \"confidence\": 0.0-1.0}]",
              "role": "system"
            },
            {
              "content": "=Classify these items:\n{{ JSON.stringify($input.all().map(i => ({row_id: i.json.row_id, text: i.json.text}))) }}"
            }
          ]
        },
        "options": {
          "temperature": 0.1
        }
      },
      "id": "4f24a55d-86aa-4b2c-8e1d-d4699fb32763",
      "name": "AI Annotation Batch",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        656,
        352
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = JSON.parse($input.first().json.message.content);\nconst labels = Array.isArray(response) ? response : (response.results || response.classifications || []);\nconst originalRows = $('Batch 20 Rows').all().map(i => i.json);\nreturn labels.map(label => {\n  const original = originalRows.find(r => r.row_id === label.row_id) || {};\n  return {\n    json: {\n      row_id: label.row_id,\n      text: original.text || '',\n      label: label.label,\n      confidence: label.confidence || 0,\n      job_id: original.job_id || '',\n      annotated_at: new Date().toISOString(),\n      status: (label.confidence || 0) >= 0.75 ? 'labelled' : 'needs_review'\n    }\n  };\n});\n"
      },
      "id": "77c7d55d-3fae-4652-8c47-c9d180481c5b",
      "name": "Format Records",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        352
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "table": {
          "value": "Annotations",
          "__rl": true,
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "text": "={{ $json.text }}",
            "label": "={{ $json.label }}",
            "confidence": "={{ $json.confidence }}",
            "job_id": "={{ $json.job_id }}",
            "annotated_at": "={{ $json.annotated_at }}",
            "status": "={{ $json.status }}"
          }
        },
        "options": {}
      },
      "id": "07081477-99f2-4adb-a775-0eb8b987aa38",
      "name": "Save to Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1232,
        352
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "value": "#data-team",
          "__rl": true,
          "mode": "name"
        },
        "text": "✅ *Annotation batch complete*\nJob: {{ $('Parse CSV').first().json.job_id }}\nStatus: Batch processed and saved to Airtable",
        "otherOptions": {}
      },
      "id": "c144dead-b72d-4bfe-9ad7-433e0cad147c",
      "name": "Job Complete Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1456,
        352
      ],
      "webhookId": "ccd313e8-855e-4146-aae3-63be13243129"
    },
    {
      "parameters": {
        "content": "## 06 — Data Annotation Workflow\n\n**Webhook payload format:**\n```json\n{\n  \"csv_data\": \"<base64 encoded CSV>\",\n  \"job_id\": \"job_001\",\n  \"label_schema\": \"positive, negative, neutral, irrelevant\"\n}\n```\n\n**Airtable setup:**\nCreate a base with a table called 'Annotations' with columns: text, label, confidence, job_id, annotated_at, status\n\n**Confidence threshold:** Items < 0.75 confidence are tagged 'needs_review'",
        "height": 724,
        "width": 1748
      },
      "id": "060ffb19-2669-437f-8d3b-4e447ba99d71",
      "name": "Setup Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -96,
        -48
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Upload Trigger": {
      "main": [
        [
          {
            "node": "Parse CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse CSV": {
      "main": [
        [
          {
            "node": "Batch 20 Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch 20 Rows": {
      "main": [
        [
          {
            "node": "AI Annotation Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Annotation Batch": {
      "main": [
        [
          {
            "node": "Format Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Records": {
      "main": [
        [
          {
            "node": "Save to Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Airtable": {
      "main": [
        [
          {
            "node": "Job Complete Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b145f1f8-8fcf-4045-a28d-f68e5d7cbfe8",
  "meta": {
    "instanceId": "a68e86bb011358047357560db41b5697f3f34c05caa0129e8b53eebd8d3a6168"
  },
  "id": "mEK6Y5Ib4keZ6uRQ",
  "tags": [
    {
      "name": "Data",
      "id": "5KbLNplF3Sq9mH3B",
      "updatedAt": "2026-04-28T19:18:56.839Z",
      "createdAt": "2026-04-28T19:18:56.839Z"
    },
    {
      "name": "AI",
      "id": "xrgwRm56lrif7yln",
      "updatedAt": "2026-04-28T19:11:31.586Z",
      "createdAt": "2026-04-28T19:11:31.586Z"
    }
  ]
}