10 - Survey Analysis Engine.json
{
  "name": "10 - Survey Analysis Engine",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "survey-response",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "753b05a7-11ff-44eb-9017-c5aadc5dcbfe",
      "name": "Survey Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1152,
        440
      ],
      "webhookId": "ec92abc8-11a8-49fb-8055-1d5d20ebf658"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\":\"received\",\"message\":\"Your response is being processed.\"}",
        "options": {}
      },
      "id": "97a4dee1-12bd-4bff-9ad9-722395ea8b0f",
      "name": "Immediate Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -864,
        536
      ]
    },
    {
      "parameters": {
        "modelId": {
          "value": "gpt-4o-mini",
          "__rl": true,
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "You are an expert at analysing customer feedback. Classify the survey response accurately.\n\nReturn ONLY JSON:\n{\n  \"sentiment\": \"positive|neutral|negative\",\n  \"sentiment_intensity\": \"strong|moderate|mild\",\n  \"themes\": [\"theme1\", \"theme2\"],\n  \"primary_theme\": \"most important theme\",\n  \"key_quote\": \"most important verbatim phrase (max 100 chars)\",\n  \"summary\": \"1-2 sentence summary\",\n  \"recommended_action\": \"specific action for the CS team\"\n}",
              "role": "system"
            },
            {
              "content": "=NPS Score: {{ $json.body.nps_score }}/10\n\nResponse: {{ $json.body.response_text }}"
            }
          ]
        },
        "options": {
          "temperature": 0.2
        }
      },
      "id": "a494cdbf-4d8b-4980-81e1-74df1e01ecf0",
      "name": "AI Analysis",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -928,
        344
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "value": "REPLACE_WITH_SHEET_ID",
          "__rl": true,
          "mode": "id"
        },
        "sheetName": {
          "value": "Survey Responses",
          "__rl": true,
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $('Survey Webhook').item.json.body.submitted_at || $now.toISO() }}",
            "Email": "={{ $('Survey Webhook').item.json.body.respondent_email }}",
            "NPS": "={{ $('Survey Webhook').item.json.body.nps_score }}",
            "Response": "={{ $('Survey Webhook').item.json.body.response_text }}",
            "Sentiment": "={{ $json.message && JSON.parse($json.message.content).sentiment }}",
            "Primary_Theme": "={{ $json.message && JSON.parse($json.message.content).primary_theme }}",
            "Themes": "={{ $json.message && JSON.parse($json.message.content).themes?.join(', ') }}",
            "Summary": "={{ $json.message && JSON.parse($json.message.content).summary }}"
          }
        },
        "options": {}
      },
      "id": "d4a38d0a-b0a5-4a71-880d-a486ad195f9d",
      "name": "Log All Responses",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -576,
        344
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const analysis = JSON.parse($('AI Analysis').item.json.message.content);\nconst survey = $('Survey Webhook').item.json.body;\nconst isNegative = (parseInt(survey.nps_score) <= 6) || analysis.sentiment === 'negative';\nreturn { json: { ...analysis, ...survey, is_negative: isNegative } };\n"
      },
      "id": "7147dceb-4015-4533-887e-a0bdc2abcea4",
      "name": "Combine Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        344
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "detractor-check",
              "leftValue": "={{ $json.is_negative }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9fc17f89-a3d3-4ce8-9344-bad5b6649d6a",
      "name": "Detractor?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -128,
        344
      ]
    },
    {
      "parameters": {
        "operation": "update"
      },
      "id": "e74ebbe9-679e-4bcb-96a5-a84430e50e19",
      "name": "Flag as At-Risk",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [
        96,
        272
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "value": "#cs-escalations",
          "__rl": true,
          "mode": "name"
        },
        "text": "🔴 *Detractor Alert — Immediate Follow-up Required*\n\n*Email:* {{ $json.respondent_email }}\n*NPS Score:* {{ $json.nps_score }}/10\n*Sentiment:* {{ $json.sentiment }} ({{ $json.sentiment_intensity }})\n*Primary Theme:* {{ $json.primary_theme }}\n\n*Key Quote:* _\"{{ $json.key_quote }}\"_\n\n*AI Summary:* {{ $json.summary }}\n*Recommended Action:* {{ $json.recommended_action }}",
        "otherOptions": {
          "mrkdwn": true
        }
      },
      "id": "9c70f362-57ea-489d-91e2-654731fdf90c",
      "name": "CS Escalation Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        320,
        272
      ],
      "webhookId": "a4e93a6e-2f84-443a-b4bf-057a702f9b18"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.respondent_email }}",
        "subject": "Thank you for your feedback",
        "emailType": "text",
        "message": "=Hi there,\n\nThank you so much for taking the time to share your feedback with us — it genuinely means a lot.\n\n{{ $json.nps_score >= 9 ? 'We\\'re thrilled to hear you\\'re happy! Your response inspires us to keep doing what we\\'re doing.' : $json.nps_score >= 7 ? 'We appreciate you taking the time. We\\'re always working to improve and your input helps us prioritise.' : 'We\\'re sorry to hear your experience hasn\\'t been what we\\'d hope for. A member of our team will be in touch shortly to make things right.' }}\n\nThank you again,\nThe Team",
        "options": {}
      },
      "id": "f9947a4a-fc76-4abf-a4cd-610a5c14667e",
      "name": "Auto-Acknowledge",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        544,
        344
      ],
      "webhookId": "717a75c3-f93a-4991-af4d-c69e856bd84c"
    },
    {
      "parameters": {
        "content": "## 10 — Survey Analysis Engine\n\n**Webhook payload (from Typeform / Google Forms):**\n```json\n{\n  \"respondent_email\": \"customer@example.com\",\n  \"nps_score\": 4,\n  \"response_text\": \"The product is okay but support is slow\",\n  \"submitted_at\": \"2024-01-15T09:00:00Z\"\n}\n```\n\n**HubSpot custom properties to create:**\n- last_nps_score (number)\n- nps_risk (boolean)\n- requires_cs_followup (boolean)",
        "height": 860,
        "width": 2076
      },
      "id": "460c8e4d-da2c-43e3-b6bc-365af65eceb1",
      "name": "Setup Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1294,
        -164
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Survey Webhook": {
      "main": [
        [
          {
            "node": "AI Analysis",
            "type": "main",
            "index": 0
          },
          {
            "node": "Immediate Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Analysis": {
      "main": [
        [
          {
            "node": "Log All Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log All Responses": {
      "main": [
        [
          {
            "node": "Combine Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Data": {
      "main": [
        [
          {
            "node": "Detractor?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detractor?": {
      "main": [
        [
          {
            "node": "Flag as At-Risk",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Auto-Acknowledge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flag as At-Risk": {
      "main": [
        [
          {
            "node": "CS Escalation Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CS Escalation Alert": {
      "main": [
        [
          {
            "node": "Auto-Acknowledge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "a13f84d2-6362-4d1e-8f0e-a0e4e4feeda9",
  "meta": {
    "instanceId": "a68e86bb011358047357560db41b5697f3f34c05caa0129e8b53eebd8d3a6168"
  },
  "id": "2iKXOUH9Pbt2hqU4",
  "tags": [
    {
      "name": "CRM",
      "id": "NxhBfn0F7UAZJC6y",
      "updatedAt": "2026-04-28T19:01:16.094Z",
      "createdAt": "2026-04-28T19:01:16.094Z"
    },
    {
      "name": "Analytics",
      "id": "SR2sQOwfJRF7LorP",
      "updatedAt": "2026-04-28T19:11:31.537Z",
      "createdAt": "2026-04-28T19:11:31.537Z"
    },
    {
      "name": "AI",
      "id": "xrgwRm56lrif7yln",
      "updatedAt": "2026-04-28T19:11:31.586Z",
      "createdAt": "2026-04-28T19:11:31.586Z"
    }
  ]
}