workflow-40-investor-reporting.json
{
  "name": "40 - Automated Board & Investor Reporting Engine",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 28-31 * *"
            }
          ]
        }
      },
      "id": "w40-1",
      "name": "Month-End Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const now = new Date();\nconst lastDay = new Date(now.getFullYear(), now.getMonth()+1, 0);\nconst isLastBizDay = [1,2,3,4,5].includes(now.getDay()) && (lastDay.getDate() === now.getDate() || (lastDay.getDay() === 0 && now.getDate() === lastDay.getDate()-2) || (lastDay.getDay() === 6 && now.getDate() === lastDay.getDate()-1));\nif (!isLastBizDay) {\n  return [{ json: { skip: true, msg: 'Not last business day of month' } }];\n}\nreturn [{ json: { skip: false, month: now.toLocaleDateString('en-GB', { month: 'long', year: 'numeric' }), month_start: new Date(now.getFullYear(), now.getMonth(), 1).toISOString().split('T')[0], today: now.toISOString().split('T')[0] } }];\n"
      },
      "id": "w40-2",
      "name": "Check Last Biz Day",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "not-skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notTrue"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "w40-3",
      "name": "Is Last Biz Day?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.hubapi.com/crm/v3/objects/deals/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.HUBSPOT_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"filterGroups\":[{\"filters\":[{\"propertyName\":\"dealstage\",\"operator\":\"IN\",\"values\":[\"closedwon\",\"appointmentscheduled\",\"qualifiedtobuy\",\"presentationscheduled\",\"decisionmakerboughtin\",\"contractsent\"]}]}],\"properties\":[\"dealname\",\"amount\",\"dealstage\",\"closedate\"],\"limit\":100}",
        "options": {}
      },
      "id": "w40-4",
      "name": "HubSpot Pipeline",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        860,
        120
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.stripe.com/v1/billing/meters",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.STRIPE_SECRET_KEY }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "w40-5",
      "name": "Stripe Revenue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        860,
        240
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.stripe.com/v1/subscriptions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.STRIPE_SECRET_KEY }}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "active"
            },
            {
              "name": "limit",
              "value": "100"
            }
          ]
        },
        "options": {}
      },
      "id": "w40-6",
      "name": "Stripe Subscriptions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        860,
        360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.intercom.io/conversations/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.INTERCOM_ACCESS_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"query\":{\"operator\":\"AND\",\"value\":[{\"field\":\"created_at\",\"operator\":\">\",\"value\":{{ Math.floor(new Date(new Date().getFullYear(), new Date().getMonth(), 1).getTime()/1000) }}}]}}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "w40-7",
      "name": "Intercom Support",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        860,
        480
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "documentId": {
          "value": "REPLACE_WITH_SHEET_ID",
          "__rl": true,
          "mode": "id"
        },
        "sheetName": {
          "value": "Monthly Targets",
          "__rl": true,
          "mode": "name"
        },
        "options": {}
      },
      "id": "w40-8",
      "name": "Get Targets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        860,
        600
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "mode": "combineAll",
        "options": {}
      },
      "id": "w40-9",
      "name": "Merge All Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1080,
        360
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\n\nconst pipeline_data = items.find(i => i.json.results)?.json?.results || [];\nconst subs_data = items.find(i => i.json.data?.[0]?.plan)?.json?.data || [];\nconst support_data = items.find(i => i.json.conversations)?.json?.conversations || [];\nconst targets_data = items.find(i => i.json[0]?.ARR_Target)?.json?.[0] || {};\n\nconst month_meta = $('Check Last Biz Day').first().json;\n\n// Pipeline metrics\nconst open_deals = pipeline_data.filter(d => d.properties?.dealstage?.value !== 'closedwon').length;\nconst pipeline_value = pipeline_data.reduce((s,d) => s + parseFloat(d.properties?.amount?.value||0), 0);\nconst won_this_month = pipeline_data.filter(d => d.properties?.dealstage?.value === 'closedwon').reduce((s,d) => s+parseFloat(d.properties?.amount?.value||0), 0);\n\n// Revenue metrics (from active subscriptions)\nconst mrr = subs_data.reduce((s,sub) => {\n  const plan = sub.items?.data?.[0]?.price;\n  if (!plan) return s;\n  const amt = plan.recurring?.interval === 'year' ? (plan.unit_amount/100/12) : (plan.unit_amount/100);\n  return s + amt;\n}, 0);\nconst arr = mrr * 12;\n\n// Support metrics\nconst support_vol = support_data.length;\nconst csat_items = support_data.filter(c => c.conversation_rating?.rating);\nconst avg_csat = csat_items.length > 0 ? (csat_items.reduce((s,c) => s + parseInt(c.conversation_rating.rating), 0) / csat_items.length).toFixed(1) : 'N/A';\n\n// Variance calculations\nconst variance = (actual, target) => target > 0 ? ((actual - target) / target * 100).toFixed(1) + '%' : 'N/A';\n\nreturn [{ json: {\n  month: month_meta.month,\n  arr: Math.round(arr), arr_target: targets_data.ARR_Target || 0, arr_variance: variance(arr, targets_data.ARR_Target),\n  mrr: Math.round(mrr), pipeline_value: Math.round(pipeline_value),\n  open_deals, won_this_month: Math.round(won_this_month),\n  active_subs: subs_data.length,\n  support_vol, avg_csat,\n  generated_at: new Date().toISOString()\n}}];\n"
      },
      "id": "w40-10",
      "name": "Aggregate Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        360
      ]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": {
          "value": "gpt-4o",
          "__rl": true,
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "You are the CEO writing a transparent, data-driven monthly investor update. Be honest about both wins and challenges \u2014 investors value candour over spin.\n\nSections (use ## headers):\n## The Month in One Sentence\n## What We Did (performance vs targets, specific numbers)\n## What We Learned (honest reflection on what did not go as planned)\n## What is Next (3 specific priorities for next month)\n## What We Need (any specific asks of investors: intros, expertise, advice)\n\nTone: Direct, transparent, confident. No corporate filler. Read like it was written by a founder who respects their investors' time.",
              "role": "system"
            },
            {
              "content": "=Month: {{ $json.month }}\n\nMetrics:\n- ARR: \u00a3{{ parseInt($json.arr).toLocaleString() }} (target: \u00a3{{ parseInt($json.arr_target).toLocaleString() }}, variance: {{ $json.arr_variance }})\n- MRR: \u00a3{{ parseInt($json.mrr).toLocaleString() }}\n- New revenue this month: \u00a3{{ parseInt($json.won_this_month).toLocaleString() }}\n- Pipeline: {{ $json.open_deals }} deals, \u00a3{{ parseInt($json.pipeline_value).toLocaleString() }} value\n- Active subscriptions: {{ $json.active_subs }}\n- Support: {{ $json.support_vol }} conversations, {{ $json.avg_csat }} avg CSAT",
              "role": "user"
            }
          ]
        },
        "options": {
          "temperature": 0.5
        }
      },
      "id": "w40-11",
      "name": "Generate Narrative",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1520,
        360
      ],
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $env.FOUNDER_EMAIL }}",
        "subject": "=DRAFT: Monthly Investor Update \u2014 {{ $('Aggregate Metrics').first().json.month }}",
        "emailType": "html",
        "message": "=<html><body style='font-family:Arial,sans-serif;max-width:700px;color:#333;'><div style='background:#fff3e0;padding:12px;border-radius:8px;margin-bottom:20px;'><strong>ACTION REQUIRED:</strong> Review this draft and reply APPROVED to trigger distribution to investors.</div><h2>Monthly Investor Update \u2014 {{ $('Aggregate Metrics').first().json.month }}</h2><table style='width:100%;border-collapse:collapse;margin:20px 0;'><tr style='background:#f5f5f5;'><th style='padding:8px;text-align:left;'>Metric</th><th style='padding:8px;text-align:right;'>Value</th><th style='padding:8px;text-align:right;'>Target</th><th style='padding:8px;text-align:right;'>Variance</th></tr><tr><td style='padding:8px;'>ARR</td><td style='padding:8px;text-align:right;'>\u00a3{{ parseInt($('Aggregate Metrics').first().json.arr).toLocaleString() }}</td><td style='padding:8px;text-align:right;'>\u00a3{{ parseInt($('Aggregate Metrics').first().json.arr_target).toLocaleString() }}</td><td style='padding:8px;text-align:right;'>{{ $('Aggregate Metrics').first().json.arr_variance }}</td></tr><tr style='background:#fafafa;'><td style='padding:8px;'>MRR</td><td style='padding:8px;text-align:right;'>\u00a3{{ parseInt($('Aggregate Metrics').first().json.mrr).toLocaleString() }}</td><td colspan='2'></td></tr><tr><td style='padding:8px;'>New Revenue</td><td style='padding:8px;text-align:right;'>\u00a3{{ parseInt($('Aggregate Metrics').first().json.won_this_month).toLocaleString() }}</td><td colspan='2'></td></tr><tr style='background:#fafafa;'><td style='padding:8px;'>Pipeline</td><td style='padding:8px;text-align:right;'>{{ $('Aggregate Metrics').first().json.open_deals }} deals \u00b7 \u00a3{{ parseInt($('Aggregate Metrics').first().json.pipeline_value).toLocaleString() }}</td><td colspan='2'></td></tr></table><hr/><div style='font-size:15px;line-height:1.7;'>{{ $json.message.content.replace(/\\n/g,'<br>').replace(/## /g,'<h3>') }}</div></body></html>",
        "options": {}
      },
      "id": "w40-12",
      "name": "Founder Draft",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1740,
        360
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Gmail Account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 40 \u2014 Board & Investor Reporting Engine\n\n**Env variables needed:**\n- HUBSPOT_API_TOKEN: HubSpot private app token\n- STRIPE_SECRET_KEY: Stripe API key\n- INTERCOM_ACCESS_TOKEN: Intercom API token\n- FOUNDER_EMAIL: founder/CEO email for draft review\n- INVESTOR_DISTRIBUTION_LIST: investor emails\n\n**Google Sheets setup:** Create 'Monthly Targets' sheet with columns: ARR_Target, MRR_Target, Revenue_Target (one row per month)\n\n**Distribution:** After reviewing the founder draft, add a webhook-triggered Gmail node that fires when the founder replies APPROVED. This keeps humans in the loop.",
        "height": 240,
        "width": 400
      },
      "id": "w40-13",
      "name": "Setup Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        200,
        560
      ]
    }
  ],
  "connections": {
    "Month-End Trigger": {
      "main": [
        [
          {
            "node": "Check Last Biz Day",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Last Biz Day": {
      "main": [
        [
          {
            "node": "Is Last Biz Day?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Last Biz Day?": {
      "main": [
        [
          {
            "node": "HubSpot Pipeline",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "HubSpot Pipeline": {
      "main": [
        [
          {
            "node": "Merge All Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stripe Revenue": {
      "main": [
        [
          {
            "node": "Merge All Sources",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Stripe Subscriptions": {
      "main": [
        [
          {
            "node": "Merge All Sources",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Intercom Support": {
      "main": [
        [
          {
            "node": "Merge All Sources",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Get Targets": {
      "main": [
        [
          {
            "node": "Merge All Sources",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Merge All Sources": {
      "main": [
        [
          {
            "node": "Aggregate Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Metrics": {
      "main": [
        [
          {
            "node": "Generate Narrative",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Narrative": {
      "main": [
        [
          {
            "node": "Founder Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "workflow-40"
}